.chip {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.green-chip {
  background-color: green;
  color: white;
}
.yellow-chip {
  background-color: gold;
  color: white;
}

.red-chip {
  background-color: red;
  color: white;
}
