<center><h1>MY DEALS</h1></center>
<%= link_to 'Add New Deal', new_admin_deal_path, class: 'btn btn-primary float-end mx-5'%>
<br>
<br>
<%=render @deals%>
<%= will_paginate @deals, class: "apple_pagination" %>